__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/


db.sqlite3
*.sqlite3

data/artist_sample.json
data/lyrics_sample.json
data/songs_sample.json


.ipynb_checkpoints/


.vscode/
.idea/


.env
.env.*
!.env.example

cookies.json
storage_state.json

.DS_Store
Thumbs.db